h1, h2, h3, h4, h5, h6 {
  font-family: 'Acme', sans-serif;
}

span.bungee { font-family: 'Acme', sans-serif; }

.app {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.header { font-size: 60px; font-family: 'Acme', sans-serif; }
.subheader { font-size: 20px; font-family: 'Acme', sans-serif; }

a.link {
  text-decoration: none;
  color: #ff1769;
}

a.link:hover {
  text-decoration: none;
  border-bottom: 2px solid #000;
}

.select-container select {
  padding: 10px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
  cursor: pointer;
  color: #ff1769;
}

.select-container select:focus {
  outline: none;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-container h2 {
  text-decoration: underline;
}

.listColumn {
  width: 100%;
}

.listColumn table {
  width: 100%;
  font-size: 14px; font-family: 'Helvetica', cursive;
}

.listColumn tr {
  width: 100%;
}

.listColumn td {
  padding-top: 10px;
}